<%# LOGO %>
<div class="flex justify-between my-10 mx-3">
  <h1 class="text-5xl font-semibold text-white">SayPay</h1>
  <%= link_to "#", class: "p-3 rounded-full bg-[#21A179] text-white flex items-center justify-center" do %>
  <%# <i data-lucide="ellipsis-vertical"></i> %>
  <i data-lucide="text-align-justify"></i>
  <% end %>
</div>

<%# Container %>
<div class="bg-[#F2FFFB] rounded-t-2xl p-10 flex-grow">

  <h2 class="font-bold"><%= @title%></h2>

  <%# Iterating through all the trips %>
  <ul>
    <% @trips.each do |trip| %>
      <%# Each trip links to the creating a new voice record %>
    <li class="my-4">
        <%= link_to trip.country, new_trip_expense_path(trip),
          class: "block border p-4 rounded-md text-center bg-blue-500 text-white" %>
      </li>
    <% end %>
  </ul>

  <%# Button that redirects to the new trip page %>
  <div class="flex justify-end">
    <%= link_to new_trip_path, class: "p-3 rounded-full bg-[#DDF8F0] border text-green flex items-center justify-center" do %>
    <i data-lucide="plus" class="w-6 h-6"></i>
    <% end %>
  </div>

</div>
