<ul class="flex flex-col space-y-2">
  <% messages.each do |message| %>
  <%# right = user, left = assistant LLM %>
    <li class="flex <%= message.role == 'user' ? 'justify-end' : 'justify-start' %>">

      <%# conversation bubble %>
      <div class="max-w-xs px-4 py-2 rounded-lg
        <%= message.role == 'user' ? 'bg-blue-500 text-white' : 'bg-gray-200 text-black' %>">
        <%= message.content %>
      </div>

    </li>
  <% end %>
</ul>
