<%# LOGO %>
<div class="flex justify-between mt-6 mb-4 mx-3">
  <h1 class="text-3xl font-semibold text-white">
    <%= @page_title.presence || "SayPay" %>
  </h1>
   <div class="flex-shrink-0">
    <div class="dropdown dropdown-end">
      <div tabindex="0" role="button" class="btn btn-ghost btn-circle text-white">
        <i data-lucide="text-align-justify"></i>
      </div>
      <ul
        tabindex="-1"
        class="menu menu-sm dropdown-content bg-base-100 rounded-box z-1 mt-3 w-52 p-2 shadow">
        <li>
          <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete } %>
        </li>
      </ul>
    </div>
  </div>
</div>
