<%# LOGO %>
<div class="flex justify-between my-10 mx-3">
  <h1 class="text-5xl font-semibold text-white">SayPay</h1>

  <%= link_to "#", class: "p-3 rounded-full bg-[#21A179] text-white flex items-center justify-center" do %>
    <i data-lucide="text-align-justify"></i>
  <% end %>

</div>
