<%# Subscribing the client to a channel%>
<%= turbo_stream_from @chat %>

<div class="max-w-[390px] h-[calc(100vh-4rem)] border flex flex-col">

  <%# SayPay Logo %>
  <h1 class="text-5xl font-bold mb-4">SayPay</h1>

  <%# Messages %>
  <div id ="messages" class="p-6 flex-1 overflow-auto">
    <%= render "messages/messages", messages: @chat.messages %>
  </div>

  <%# Chatbox  %>
  <div id="new_message_container" class="chat-area flex flex-col border rounded m-2 p-2 bg-[#DDF8F0]">
     <%= render "messages/form", chat: @chat, message: @message %>
  </div>
</div>
